out/
logs/
__pycache__/
.idea/
old-logs/
logs/
eval/view_extrapolation
eval/out
eval/logs
visualizer/novel_view_syn
eval/deepvoxels
eval/nerf_synthetic
eval/ref
eval/vis_ray_distribution
eval/llff_test
tools/data_verify
/eval/llff
/eval/llff_finetune
*tar.gz
pretrained/
data/
data
*.npy
*.npz
*.pt
*.pth
Omni-SR/benchmark
Omni-SR/test_logs
*.onnx
memory/plots
eval/outputs